<ion-app>
  <ion-header>
    <ion-toolbar  color="danger">

      <ion-buttons  slot="start">
        <ion-menu-button  menu="main-menu"></ion-menu-button>
      </ion-buttons>

      <ion-buttons  slot="end">
        <ion-button>
          <ion-icon slot="icon-only"  name="cart-sharp"></ion-icon>

        </ion-button>
        <ion-button>
          <ion-icon slot="icon-only" name="person-circle"></ion-icon>

        </ion-button>
      </ion-buttons>
      <ion-title  class="ion-text-center">Message</ion-title>

    </ion-toolbar>
  </ion-header>
  <ion-content>
    
  </ion-content>
</ion-app>
