<ion-app>
  <ion-header [translucent]="true">
    <ion-toolbar  color="danger"><!--Ajout d'une barre d'outils-->

      <ion-title  class="ion-text-center">Accueil</ion-title>
      <ion-buttons  slot="start"><!--Mise en page d'un ensemble de buttons-->
        <ion-menu-button  menu="main-menu"></ion-menu-button><!--Ajout d'un boutton menu-->

      </ion-buttons>
      <ion-buttons  slot="end">
        <ion-button><!--Ajout d'un button-->

          <ion-icon slot="icon-only"  name="cart-sharp"></ion-icon><!--Ajout d'une icone de panier-->
        </ion-button>
        <ion-button>

          <ion-icon slot="icon-only" name="person-circle"></ion-icon>
        </ion-button>
      </ion-buttons>

    </ion-toolbar>
    <ion-toolbar  id="search-bar">
      <ion-searchbar  placeholder="Produits / Vendeurs .... "></ion-searchbar><!--Ajout d'une barre de recherche-->
      
    </ion-toolbar>
  </ion-header>
  <ion-content  [fullscreen]="true">
    <!--Section categories-->
    <app-accueil-slide-header title="Categories"></app-accueil-slide-header><!--Appel de la vue app-accueil-slide-header(html) qui est un composant et qui recoit une chaine de caracteres--->

    <ion-slides [options]="slideOpts"><!--Mise en page d'un ensemble de slides-->
      <ion-slide  *ngFor="let categorieSlide of  categorieSlides"><!--La boucle *ngFor permet de parcourir le tableau categorieSlides et de recuperer ligne par ligne les donnees avec la variable  categorieSlide-->
        <app-categorie-card [categorieCard]="categorieSlide"></app-categorie-card><!--Appel de la vue app-categorie-card(html) qui est un composant et qui recoit la variable categorieSlide--->

        
      </ion-slide>
    </ion-slides>
    <!--Section produits-->
    <app-accueil-slide-header title="Produits"></app-accueil-slide-header>
    <app-produit-slide  [produitSlides]="caracteristiqueProduits"></app-produit-slide><!--Appel de la vue app-produit-slide(html) qui est un composant et qui recoit la variable caracteristiqueProduits--->

     <!--Section produits-->
     <app-accueil-slide-header title="Les plus vendus"></app-accueil-slide-header>
     <app-produit-slide  [produitSlides]="meilleurVenteProduits"></app-produit-slide>
  </ion-content>
</ion-app>