//Mise en page des proprietes css sur la barre de recherche
#search-bar{
 padding-left: 10px;
 padding-right: 10px;

 ion-searchbar{
  --border-radius: 50px;
  margin: 0 auto 10px;

  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px ;
 }

}