<ion-header translucent>
  <ion-toolbar  color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title  class="ion-text-center">Votre panier</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="let article of produitPanier; let i=index">
    <ion-grid>
  
      <ion-row>
        <ion-col>
     
              <img width="200px" height="100px" [src]="article.produit.image"/>
    
        </ion-col>
        <ion-col>
          <div>
  
            <strong><p style="margin-top: -1px;">{{article.produit.categorie}}</p></strong>

            <p>
              <ion-badge color="primary">{{article.nombre}}</ion-badge> x {{article.produit.prix}}FCFA
            </p>
                 <p style="font-size: 50px solid;">Total:  {{article.nombre*article.produit.prix}}FCFA </p>

            <button (click)="removeitem(article, i)" style="color: red; margin-top: -10px; background-color: Transparent; background-repeat:no-repeat; border: none;"> <ion-icon style="display: inline-block; margin-left: 150px; font-size: 25px;" name="close-circle"></ion-icon></button> 
  
  <button (click)="addsamearticle(article.produit)" style="margin-top: -10px;color: grey; background-color: Transparent; background-repeat:no-repeat; border: none;"><ion-icon style="font-size: 25px; margin-top: -65px;" name="add-circle"></ion-icon> </button> 
  <button (click)="reducearticle(article.produit)" style="margin-top: -10px; color: grey; background-color: Transparent; background-repeat:no-repeat; border: none;"> <ion-icon style="display: inline-block; font-size: 25px; margin-left: 70px; margin-top: -65px;" name="remove-circle"></ion-icon> </button> 
  
          </div>
        </ion-col>
      </ion-row>
   
    </ion-grid>
  </ion-card>

  <ion-card style="text-align: center">

    <h3 color="primary">Panier: {{total}} FCFA  </h3>
    <h3 color="primary">Articles: {{nombretotal}} </h3>
  
  </ion-card>
  
</ion-content>

<ion-footer>

  <ion-row>
    <ion-col>
      <ion-button class="btn" size="medium" color="danger" expand="block" shape="round" routerLink='/creer-produit'>Proceder a l'achat</ion-button>
    </ion-col>
  </ion-row>

</ion-footer>
