<ion-header translucent>
  <ion-toolbar  color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title  class="ion-text-center">Votre panier</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  [fullscreen]>

<ion-card>
  <ion-grid>

    <ion-row>
      <ion-col>
   
            <img src="assets/images/im3.jpg" />
  
      </ion-col>
      <ion-col>
        <div>

          <strong><p>Apple design </p></strong>
          <p style="color: red; margin-top: -10px;">$38 <ion-icon style="display: inline-block; margin-left: 120px; font-size: 25px; " name="close-circle"></ion-icon> </p> 

          <ion-icon style="font-size: 25px; margin-top: -55px;" name="add-circle"></ion-icon>  <ion-icon style="display: inline-block; font-size: 25px; margin-left: 70px; margin-top: -55px;" name="remove-circle"></ion-icon>

        </div>
      </ion-col>
    </ion-row>
 
  </ion-grid>
</ion-card>

<ion-card>
  <ion-grid>

    <ion-row>
      <ion-col>
        <div>
            <img src="assets/images/im4.jpg" />
        </div>
      </ion-col>
      <ion-col>
        <div>
          <strong><p>Apple design </p></strong>
          <p style="color: red; margin-top: -10px;">$38 <ion-icon style="display: inline-block; margin-left: 120px; font-size: 25px; " name="close-circle"></ion-icon> </p> 

          <ion-icon style="font-size: 25px; margin-top: -55px;" name="add-circle"></ion-icon>  <ion-icon style="display: inline-block; font-size: 25px; margin-left: 70px; margin-top: -55px;" name="remove-circle"></ion-icon>

        </div>
      </ion-col>
    </ion-row>
 
  </ion-grid>
</ion-card>

<ion-card>
  <ion-grid>

    <ion-row>
      <ion-col>
        <div>
            <img src="assets/images/im1.jpg" />
        </div>
      </ion-col>
      <ion-col>
        <div>
          <strong><p>Apple design </p></strong>
          <p style="color: red; margin-top: -10px;">$38 <ion-icon style="display: inline-block; margin-left: 120px; font-size: 25px; " name="close-circle"></ion-icon> </p> 

          <ion-icon style="font-size: 25px; margin-top: -55px;" name="add-circle"></ion-icon>  <ion-icon style="display: inline-block; font-size: 25px; margin-left: 70px; margin-top: -55px;" name="remove-circle"></ion-icon>

        </div>
      </ion-col>
    </ion-row>
 
  </ion-grid>
</ion-card>

<ion-card>
  <ion-grid>

    <ion-row>
      <ion-col>
        <div>
          <strong><h4>Nombre d'article: </h4></strong>  
        </div>
      </ion-col>
      <ion-col>
        <div>
          <strong><h4>3</h4></strong>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div>
          <strong><h2>Prix total: </h2></strong>  
        </div>
      </ion-col>
      <ion-col>
        <div>
          <strong><h2>$120</h2></strong>
        </div>
      </ion-col>
    </ion-row>
 
  </ion-grid>

  <ion-button class="btn" size="medium" color="danger" expand="block" shape="round" >Paiement</ion-button>

</ion-card>

</ion-content>
