<ion-header>
  <ion-toolbar  color="danger">
    <ion-buttons  slot="start">

      <ion-back-button  defaultHref="/accueil"></ion-back-button>
    </ion-buttons>
    <ion-title  class="ion-text-center">Details</ion-title>

  </ion-toolbar>
</ion-header>
<ion-content>
<!--Details du produit-->

<ion-card>
  <div class="image">
    <img style="width: 400px; height: 250px;" [src]="articleD.image">
  </div>

  <ion-card-header>
    <ion-card-title> <h3>{{articleD.categorie}}</h3> </ion-card-title>
    <br><br>
  </ion-card-header>
  <ion-card-content>

    <ion-card-subtitle> <h3 style="font-size: 20px;">{{articleD.prix}} FCFA </h3></ion-card-subtitle>
    
    <div class="rates">
      <app-badge  icone="time" texte="30m"></app-badge>
   
      <app-badge  icone="star-outline" texte="4.5"></app-badge>
    </div>
    <div class="about">
      <h1>Description</h1>
      <br>
      <p>{{articleD.description}}</p>
      <br><br>
      <app-button (click)="ajouterArticleAuPanier(articleD)">Ajouter au panier</app-button>
    </div>
 </ion-card-content>
</ion-card>
</ion-content>
