<ion-header>
  <ion-toolbar  color="danger">
    <ion-buttons  slot="start">

      <ion-back-button  defaultHref="/accueil"></ion-back-button>
    </ion-buttons>
    <ion-title  class="ion-text-center">Details</ion-title>

  </ion-toolbar>
</ion-header>
<ion-content>
<!--Details du produit-->

<ion-card>
  <div class="image">
    <img  [src]="articleD.image">
  </div>

  <ion-card-header>
    <ion-card-title> </ion-card-title>
    <ion-card-subtitle>  <sup>{{articleD.id}}xof</sup>  </ion-card-subtitle>
  
  </ion-card-header>
  <ion-card-content>
    
    <div class="rates">
      <app-badge  icone="time" texte="30m"></app-badge>
   
      <app-badge  icone="star-outline" texte="4.5"></app-badge>
    </div>
    <div class="about">
      <h1>Description</h1>
      <p>fhgfjklsgysljdltrdmljxfhglkjtmmmmylurijxxxxxxxxxxx</p>
      <app-button (click)="ajouterArticleAuPanier()">Ajouter au panier</app-button>
    </div>
 </ion-card-content>
</ion-card>
</ion-content>
