<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">

      <ion-back-button color="danger" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons  slot="end">
      <ion-button>
        <ion-icon color="danger" slot="icon-only"  name="cart-sharp"></ion-icon>

      </ion-button>
    </ion-buttons>
    <ion-title>Mes Produit</ion-title>

  </ion-toolbar>
  <ion-toolbar  id="search-bar">
    <ion-searchbar  placeholder="Produits / Vendeurs .... "></ion-searchbar><!--Ajout d'une barre de recherche-->
      
  </ion-toolbar>
</ion-header>

<ion-content  [fullscreen]>

  <ion-grid >

    <ion-row size="10" >
      <ion-col size="6" *ngFor="let article of articles | async">
        <div>
          <ion-card>

            <img [src]="article.image" alt="">
            <ion-card-header>

              <ion-card-subtitle style="color: red;" >{{ article.prix }} FCFA</ion-card-subtitle>
              <strong><h6 style="color: black;">{{ article.categorie }}</h6> </strong>

            </ion-card-header>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>

 
  </ion-grid>

</ion-content>

<ion-footer>

  <ion-row>
    <ion-col>
      <ion-button class="btn" size="medium" color="danger" expand="block" shape="round" routerLink='/creer-produit'>Ajouter produit</ion-button>
    </ion-col>
  </ion-row>

</ion-footer>