<ion-header>
  <ion-toolbar  color="danger">

    <ion-buttons  slot="start">
      <ion-menu-button  menu="main-menu"></ion-menu-button>
    </ion-buttons>

    <ion-buttons  slot="end">
      <ion-button routerLink="/panier">
        <ion-icon slot="icon-only"  name="cart-sharp"></ion-icon>

      </ion-button>
    </ion-buttons>
    <ion-title  class="ion-text-center">Mes produits</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content  [fullscreen]>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refresh...">
    </ion-refresher-content>
  </ion-refresher>  

  <ion-grid >

    <ion-row size="10" >
      <ion-col size="6" *ngFor="let article of articles | async">
        <div>
          <ion-card>

            <img width="160" height="100"[src]="article.image" alt="">
            <ion-card-header>

              <ion-card-subtitle style="color: red;" >{{ article.id }}{{ article.prix }} FCFA</ion-card-subtitle>
              <strong><h6 style="color: black;">{{ article.categorie }}</h6> </strong>
              
            </ion-card-header>
  
          </ion-card>
        </div>
      </ion-col>
    </ion-row>

 
  </ion-grid>

</ion-content>

<ion-footer>

  <ion-row>
    <ion-col>
      <ion-button class="btn" size="medium" color="danger" expand="block" shape="round" routerLink='/creer-produit'>Ajouter produit</ion-button>
    </ion-col>
  </ion-row>

</ion-footer>