<ion-app>
  <ion-content  [fullscreen]="true">
<div *ngIf="myFlag != null;else elseCondition">
    <div class="header-bg">
      <h2> 
        {{username}} {{user_prenom}}
      </h2>
    </div>

    <div class="flex">
      <div class="border-red">
        <div class="border-white">
          <div class="img-box">
            <img src="assets/images/image12.png" alt="photo" width="150px" height="130px">
          </div>
        </div>
      </div>
    </div>

      <ion-card>
        <h3 style="text-align: center; font-weight: bold">
          Email: {{user_email}}
        </h3>
        <h3 style="text-align: center; font-weight: bold">
          Numero: {{user_number}}
        </h3>
 
        <div style="text-align: center; font-weight: bold">
        <button class="button1 button5" routerLink='/mes-produits'> <ion-icon style="font-size: 30px;" name="cart"></ion-icon></button>
        <button class="button2 button5" (click)="disconnect()"> <ion-icon style="font-size: 30px;" name="power"></ion-icon></button> 
        </div>
      </ion-card>



      <ion-grid>

        <h4 style="text-align: center; font-weight: bold">Mes produits</h4>

        <ion-row size="10" >
          <ion-col size="6" *ngFor="let article of articles | async">
            <div>
              <ion-card>
    
                <img width="160" height="100"[src]="article.image" alt="">
                <ion-card-header>
    
                  <ion-card-subtitle style="color: red; font-weight: bold" >{{ article.id }}{{ article.prix }} FCFA</ion-card-subtitle>
                  <strong><h6 style="color: black; font-weight: bold">{{ article.categorie }}</h6> </strong>
                  
                </ion-card-header>
             
              </ion-card>
            </div>
          </ion-col>
        </ion-row>
    
     
      </ion-grid>
    

 
    </div>

    <ng-template #elseCondition>
      <h1>Oups vous n'etes pas authentifié</h1>
      <ion-button color="success" routerLink='/login'>Se connecter</ion-button>
      <ion-button routerLink='/inscription'>S'inscrire</ion-button>
    </ng-template>     

  </ion-content>
</ion-app>