<ion-app>
  <ion-header [translucent]="true">
    <ion-toolbar  color="danger">

      <ion-buttons  slot="start">
        <ion-menu-button  menu="main-menu"></ion-menu-button>
      </ion-buttons>

      <ion-buttons  slot="end">
        <ion-button>
          <ion-icon slot="icon-only"  name="cart-sharp"></ion-icon>

        </ion-button>
      </ion-buttons>
      <ion-title  class="ion-text-center">favoris</ion-title>

    </ion-toolbar>
    <ion-toolbar  id="search-bar">
      <ion-searchbar  placeholder="Produits / Vendeurs .... "></ion-searchbar><!--Ajout d'une barre de recherche-->
      
    </ion-toolbar>
  </ion-header>
  <ion-content  [fullscreen]>

    <ion-grid>

      <ion-row>
        <ion-col>
          <div>
           
          </div>
        </ion-col>
        <ion-col>
          <div>
           
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div>
            <ion-card>
              <img src="assets/images/im3.jpg" />
              <ion-card-header>
                <ion-card-subtitle style="color: red;" >5000 FCFA</ion-card-subtitle>
                <strong><h6 style="color: black;">Womens Long Sweater</h6> <ion-icon name="heart"></ion-icon> </strong>
              </ion-card-header>
            </ion-card>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-card>
              <img src="assets/images/im1.jpg" />
              <ion-card-header>
                <ion-card-subtitle style="color: red;" >5000 FCFA</ion-card-subtitle>
                <strong><h6 style="color: black;">Womens Long Sweater</h6> <ion-icon name="heart"></ion-icon> </strong>
              </ion-card-header>
            </ion-card>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div>
            <ion-card>
              <img src="assets/images/im3.jpg" />
              <ion-card-header>
                <ion-card-subtitle style="color: red;" >5000 FCFA</ion-card-subtitle>
                <strong><h6 style="color: black;">Womens Long Sweater</h6> <ion-icon name="heart"></ion-icon> </strong>
              </ion-card-header>
            </ion-card>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-card>
              <img src="assets/images/im1.jpg" />
              <ion-card-header>
                <ion-card-subtitle style="color: red;" >5000 FCFA</ion-card-subtitle>
                <strong><h6 style="color: black;">Womens Long Sweater</h6> <ion-icon name="heart"></ion-icon> </strong>
              </ion-card-header>
            </ion-card>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div>
            <ion-card>
              <img src="assets/images/im3.jpg" />
              <ion-card-header>
                <ion-card-subtitle style="color: red;" >5000 FCFA</ion-card-subtitle>
                <strong><h6 style="color: black;">Womens Long Sweater</h6> <ion-icon name="heart"></ion-icon> </strong>
              </ion-card-header>
            </ion-card>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-card>
              <img src="assets/images/im1.jpg" />
              <ion-card-header>
                <ion-card-subtitle style="color: red;" >5000 FCFA</ion-card-subtitle>
                <strong><h6 style="color: black;">Womens Long Sweater</h6> <ion-icon name="heart"></ion-icon> </strong>
              </ion-card-header>
            </ion-card>
          </div>
        </ion-col>
      </ion-row>

   
    </ion-grid>

  </ion-content>
</ion-app>