<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
  
  </ion-header>
  <ion-content [fullscreen]="true" class="ion-padding" background-image="assets/images/test1.png">

    <h3 style="text-align: center;">LOGIN</h3>

    <strong><p id="principal" style="color: rgb(255, 51, 79); font-size: 13px;">Faites vos différents achats!</p></strong>
    <br>
    <ion-img style="margin-top: -45px;" src="assets/images/test7.png"></ion-img>

    <br>
  
        <ion-item lines="none" >
          <ion-input type = "text" placeholder = 
              "Email" required>
          </ion-input>
       </ion-item>

    <br>

       <ion-item lines="none" >
        <ion-input type = "password" placeholder = 
            "Mot de passe" required>
        </ion-input>
     </ion-item>

     <br><br>


    <a style="color: darkgray; margin-left: 100px;">forgot password?</a><br><br>

    <ion-button class="btn" size="medium" color="danger" expand="block" shape="round" >Se connecter</ion-button>

<div style="text-align: center">
  <ion-button color="bluelovers" style="background-color: rgb(4, 4, 88); border-Radius: 50%; color: white; width: 50px;"><ion-icon name="logo-facebook"></ion-icon></ion-button>
  <ion-button color="bluelovers" style="background-color: rgb(233, 33, 33); border-Radius: 50%;  color: white; width: 50px;"><ion-icon name="logo-google"></ion-icon></ion-button>
  <ion-button color="bluelovers" style="background-color: rgb(23, 114, 5); border-Radius: 50%;  color: white; width: 50px;"><ion-icon name="logo-whatsapp"></ion-icon></ion-button>
  <ion-button color="bluelovers" style="background-color: #0000ff; border-Radius: 50%;  color: white; width: 50px;"><ion-icon name="logo-twitter"></ion-icon></ion-button>
  <br><br>
  <p>Vous n'avez pas de compte? <a style="text-decoration: none; color: crimson;" href="">S'inscrire?</a></p>
</div>

  </ion-content>
</div>