<ion-app>
  <ion-menu side="start" menuId="main-menu" contentId="main-menu-content">
    <ion-content>
      <div class="menu-header-bg"></div>

    <div *ngIf="myFlag != null;else elseCondition">

      <div class="header-content">
        <img src="../assets/images/image12.png" alt="">
        <ion-label>
          <h2>{{username}} {{user_prenom}}</h2>
          <p>{{user_email}}</p>
        </ion-label>      
      </div>
      <div class="action-button">
        <ion-menu-toggle>
        <ion-button [routerLink]="['tabs/compte']">
          <ion-icon slot="start"  name="person-circle"></ion-icon>Voir profil
        </ion-button>
      </ion-menu-toggle>
      </div>

    </div>

  <ng-template #elseCondition>
    <div class="header-content">
      <h6 style="text-align: center; font-weight: bold; color: white">Veuillez vous connecter ou vous inscrire!</h6>
    </div>
      <div class="action-button">
        <ion-menu-toggle>
        <ion-button [routerLink]="['login']">
          <ion-icon slot="start"  name="person-circle"></ion-icon>Se connecter
        </ion-button>
      </ion-menu-toggle>
      </div>

      <div class="action-button2">
        <ion-menu-toggle>
        <ion-button [routerLink]="['inscription']">
          <ion-icon slot="start"  name="create"></ion-icon>S'inscrire
        </ion-button>
      </ion-menu-toggle>
      </div>

    </ng-template>    

      <ion-list lines="none"  class="menu-items">
        <ion-menu-toggle>
          <ion-item [routerLink]="['tabs/accueil']" class="active">
            <ion-icon slot="start" name="home"></ion-icon>
            <ion-label> Accueil</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item [routerLink]="['tabs/boutique']">
            <ion-icon slot="start"  name="storefront"></ion-icon>
            <ion-label>Boutiques</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item [routerLink]="['categorie']">
            <ion-icon slot="start"  name="albums"></ion-icon>
            <ion-label>Categories</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item [routerLink]="['panier']">
            <ion-icon slot="start"  name="cart"></ion-icon>
            <ion-label>Panier</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item [routerLink]="['tabs/favoris']">
            <ion-icon slot="start" name="heart"></ion-icon>
            <ion-label>Favoris</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item [routerLink]="['tabs/favoris']">
            <ion-icon slot="start" name="mail"></ion-icon>
            <ion-label>Message</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list> 
    </ion-content>
  </ion-menu>
  <ion-router-outlet  id="main-menu-content"></ion-router-outlet>
</ion-app>
