<ion-app>
  <ion-header [translucent]="true">
    <ion-toolbar  color="danger">

      <ion-buttons  slot="start">
        <ion-menu-button  menu="main-menu"></ion-menu-button>
      </ion-buttons>

      <ion-buttons  slot="end">
        <ion-button>
          <ion-icon slot="icon-only"  name="cart-sharp"></ion-icon>

        </ion-button>
      </ion-buttons>
      <ion-title  class="ion-text-center">Boutiques</ion-title>

    </ion-toolbar>
    <ion-toolbar  id="search-bar">
      <ion-searchbar  placeholder="Produits / Vendeurs .... "></ion-searchbar><!--Ajout d'une barre de recherche-->
      
    </ion-toolbar>
  </ion-header>
  <ion-content fullscreen>
    <ion-list>
  
        <ion-item button onclick="">

          <ion-avatar slot="start">
            <img src="assets/images/im1.jpg" />
          </ion-avatar>
          <ion-label>
            <h2>Art Bussiness</h2>
            <h3>sis a Ouagadougou</h3>
            <p>Nagrin</p>
          </ion-label>
          <ion-icon slot="end">      
          </ion-icon>
        
        </ion-item>

        <ion-item button onclick="">

          <ion-avatar slot="start">
            <img src="assets/images/im3.jpg" />
          </ion-avatar>
          <ion-label>
            <h2>Mo-SAN Corporation</h2>
            <h3>sis a Ouagadougou</h3>
            <p>Tanghin</p>
          </ion-label>
          <ion-icon slot="end">      
          </ion-icon>
        
        </ion-item>

        <ion-item button onclick="">

          <ion-avatar slot="start">
            <img src="assets/images/im4.jpg" />
          </ion-avatar>
          <ion-label>
            <h2>Canal-Box</h2>
            <h3>sis a Ouagadougou</h3>
            <p>Tanghin</p>
          </ion-label>
          <ion-icon slot="end">      
          </ion-icon>
        
        </ion-item>

        <ion-item button onclick="">

          <ion-avatar slot="start">
            <img src="assets/images/im3.jpg" />
          </ion-avatar>
          <ion-label>
            <h2>Airbus</h2>
            <h3>sis a Ouagadougou</h3>
            <p>Tanghin</p>
          </ion-label>
          <ion-icon slot="end">      
          </ion-icon>
        
        </ion-item>

        <ion-item button onclick="">

          <ion-avatar slot="start">
            <img src="assets/images/im2.jpg" />
          </ion-avatar>
          <ion-label>
            <h2>Methods</h2>
            <h3>sis a Ouagadougou</h3>
            <p>Tanghin</p>
          </ion-label>
          <ion-icon slot="end">      
          </ion-icon>
        
        </ion-item>

        <ion-item button onclick="">

          <ion-avatar slot="start">
            <img src="assets/images/img7.jpg" />
          </ion-avatar>
          <ion-label>
            <h2>Aqua-parck</h2>
            <h3>sis a Ouagadougou</h3>
            <p>Tanghin</p>
          </ion-label>
          <ion-icon slot="end">      
          </ion-icon>
        
        </ion-item>

        <ion-item button onclick="">

          <ion-avatar slot="start">
            <img src="assets/images/img8.jpg" />
          </ion-avatar>
          <ion-label>
            <h2>Wend-Konta</h2>
            <h3>sis a Ouagadougou</h3>
            <p>Tanghin</p>
          </ion-label>
          <ion-icon slot="end">      
          </ion-icon>
        
        </ion-item>

        <ion-item button onclick="">

          <ion-avatar slot="start">
            <img src="assets/images/img9.jpg" />
          </ion-avatar>
          <ion-label>
            <h2>Camille et Freres</h2>
            <h3>sis a Ouagadougou</h3>
            <p>Tanghin</p>
          </ion-label>
          <ion-icon slot="end">      
          </ion-icon>
        
        </ion-item>

        <ion-item button onclick="">

          <ion-avatar slot="start">
            <img src="assets/images/img10.jpg" />
          </ion-avatar>
          <ion-label>
            <h2>Yeelba</h2>
            <h3>sis a Ouagadougou</h3>
            <p>Tanghin</p>
          </ion-label>
          <ion-icon slot="end">      
          </ion-icon>
        
        </ion-item>

    </ion-list>
  </ion-content>
</ion-app>