#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 68%;
  transform: translateY(-50%);
}


button {
  color: rgb(230, 0, 76);

  &.button-rounded {
      display: block;
      width: 30px;
      height: 30px;
      line-height: 30px;
      border: 2px solid white;
      border-radius: 50%;
      color: white;
      text-align: center;
      text-decoration: none;
      font-size: 10px;
      font-weight: bold;
  }
}


#container strong {
  font-size: 20px;
  line-height: 26px;
}

#principal
{
  text-align: center;
}

#principal2
{
  text-align: center;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

#main-content{
  background-color: gray;
}

.ion-padding{
  background-color: gray;
}

p{
  text-align: center;
}

button {
  color: #FF334F;

  &.button-rounded {
      display: block;
      width: 30px;
      height: 30px;
      line-height: 30px;
      border: 2px solid white;
      border-radius: 50%;
      color: white;
      text-align: center;
      text-decoration: none;
      font-size: 10px;
      font-weight: bold;
  }
}


.button2 {
  align-items: center;
  background-color: rgb(221, 35, 35);
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}


.button3 {
  align-items: center;
  background-color: rgb(20, 99, 4);
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

.button4 {
  align-items: center;
  background-color: rgb(35, 52, 202);
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

.button1 {
  background-color: rgb(19, 5, 68);
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

.button5 {border-radius: 50%;}