<div class="ion-page" id="main-content">

  <ion-header [translucent]="true">
  
  </ion-header>

 <ion-content [fullscreen]="true" class="ion-padding" background-image="assets/images/test1.png">

  <strong><h3 style="text-align: center;">BIENVENUE</h3></strong>

    <strong><p id="principal" style="color: rgb(230, 0, 76); font-size: 13px;">Faites vos différents achats!</p></strong>
    <!--<strong><h1 style="font-family: 'Times New Roman', Times, serif;" id="principal2" color="gray-light">Shop<h1 style="display: inline;color: rgb(230, 0, 76);"> -O!</h1> </h1> </strong>!-->
    <ion-img style="margin-top: -45px;" src="assets/images/test6.png"></ion-img>
         <h3 style="text-align: center;">PLATEFORME D'ACHAT EN LIGNE</h3> 
         <strong><h1 style="font-family: 'Times New Roman', Times, serif;" id="principal2" color="gray-light">Shop<h1 style="display: inline;color: rgb(230, 0, 76);"> -O!</h1> </h1> </strong>   

    <ion-button class="btn" size="medium" color="danger" expand="block" shape="round" >Se connecter</ion-button>
    <ion-button class="btn" size="medium" color="danger" expand="block" fill="outline" shape="round" >S'inscrire</ion-button>
    <br><br><br>
    <p> <strong><a style="text-decoration: none; color: crimson;" href="">Visiter?</a></strong> Nous contacter?</p><br>

<div style="text-align: center">
  <ion-button color="bluelovers" style="background-color: rgb(4, 4, 88); border-Radius: 50%; color: white; width: 50px;"><ion-icon name="logo-facebook"></ion-icon></ion-button>
  <ion-button color="bluelovers" style="background-color: rgb(233, 33, 33); border-Radius: 50%;  color: white; width: 50px;"><ion-icon name="logo-google"></ion-icon></ion-button>
  <ion-button color="bluelovers" style="background-color: rgb(23, 114, 5); border-Radius: 50%;  color: white; width: 50px;"><ion-icon name="logo-whatsapp"></ion-icon></ion-button>
  <ion-button color="bluelovers" style="background-color: #0000ff; border-Radius: 50%;  color: white; width: 50px;"><ion-icon name="logo-twitter"></ion-icon></ion-button>
</div> 

</ion-content>
  
  </div>
