<ion-card><!--Ajout d'une carte--><!--appel de la fonction getProduitById() qui envoye des donnees lorsqu'on fait un clic-->
  <img width="160px" height="100px" [src]="produitCard.image" (click)="obtenirIdProduitC(produitCard.id)  " ><!--Ajout d'une image grace a la valeur d'attribut de l'objet produitCard-->
  <ion-card-content>
    <ion-list>
      <ion-label>
        <p  id="produitPrice">{{index}} {{ produitCard.prix  }} FCFA</p><!--Affiche la valeur d'attribut de l'objet produitCard-->
  
      <ion-label *ngIf="produitCard.liked">
        <ion-icon style=" color: pink;" name="heart" (click)="ajouterArticlefavoris(produitCard)"></ion-icon>
      </ion-label>

      <ion-label *ngIf="!produitCard.liked">
        <ion-icon name="heart-outline" (click)="ajouterArticlefavoris(produitCard)"></ion-icon>
      </ion-label>

      </ion-label>
      <ion-label slot="end"  *ngFor="let utilisateur of utilisateurs | async">
          <ion-text button (click)="allerauprofil(publicateur)">{{ utilisateur.prenom }}</ion-text>
      </ion-label>
    </ion-list>
  </ion-card-content>
</ion-card>