ion-grid{
 height: 40px;
 margin-top: 10px;
 margin-inline-start: 12px;
 padding-inline-end: 0;
}

#voirplus{
 color:red ;
}

h1{
 margin-top: 7px;
 font-size: 16px;
 color: #818181;
}

ion-button{
 margin-left:auto ;
 font-size: 16px;
 text-transform: initial;
}